<style> p{
    background-color: aqua;
    width: 97%;
    height: 50px;
}

</style>
<p>maincontent works!</p>Hello, World!
Welcome to Learn HTML, the easiest way to learn HTML & CSS online, interactively.

Learning HTML & CSS is essential for any web developer, and does not require to know how to program using JavaScript.

Before you begin, I would recommend that you start out by downloading an HTML & CSS IDE. My personal preference is to use an IDE by JetBrains. You can download the PyCharm Community Edition for free, which has really good HTML, CSS and JavaScript development support built-in, along with all the goodies that a good IDE provides - source code integration


Hello, World!